@page
@model RediRND.Pages.StakerDailyProfits.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StakerDailyProfit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StakerDailyProfit.StakerId" class="control-label"></label>
                <select asp-for="StakerDailyProfit.StakerId" class ="form-control" asp-items="ViewBag.StakerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StakerDailyProfit.Date" class="control-label"></label>
                <input asp-for="StakerDailyProfit.Date" class="form-control" />
                <span asp-validation-for="StakerDailyProfit.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StakerDailyProfit.Stake" class="control-label"></label>
                <input asp-for="StakerDailyProfit.Stake" class="form-control" />
                <span asp-validation-for="StakerDailyProfit.Stake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
